html {
    overflow: hidden;
}
div.klc-container{
    overflow-y: scroll;
}

.klc-content {
   
    position: fixed;
    left: 0;
}


.klc-search-icon {
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    color: white;
    width: 40px;
    float: left;
    height: 40px;
}
button#satellite-layer {
    font-size: 23px;
}
.klc-chart {
    height: 300px;
    padding: 10px;
}

.klc-source {
    font-size: 12px;
    padding-bottom: 15px;
}

div#klc-accordion {
    overflow: scroll;
    padding-bottom: 150px !important;
}