    {#
    /**
     * @file
     * KLC Page template
     */
    #}

{% block head %}
{{ attach_library( 'biopama_klc_ecoregion/biopama_klc_ecoregion' ) }}
{% endblock %}
<div class="container-fluid p-0 m-0 klc-content text-bg-dark">
    <div class="row p-0 m-0">
        <div class="col-lg-4 p-0 m-0">
			<div id="map-container" class="text-black"></div>
		</div>
        <div class="col-lg-8 klc-container m-0">
			<div class='row klc-filters m-0 px-0 py-2 d-print-none'>
				<div class='col-sm-1'>
				  <div class="klc-search-icon">
					<i class="fas fa-search"></i>
				  </div>
				</div>
				<div class='col-sm-3'>
					<select class="form-control" id="klcRegions">
                        <option value="all" selected>All Regions</option>
                        <option value="central_africa">Central Africa</option><option value="eastern_africa">Eastern Africa</option><option value="southern_africa">Southern Africa</option><option value="western_africa">Western Africa</option>
					</select>
				</div>
				<div class='col-sm-3'>
					<select class="form-control" id="klcCountries">
                        <option value="all" selected>All Countries</option>
						<optgroup label="Central Africa">
							 <option value="BDI">Burundi</option><option value="CMR">Cameroon</option><option value="CAF">Central African Republic</option><option value="TCD">Chad</option><option value="COG">Congo (Brazzaville)</option><option value="COD">Congo (Kinshasa)</option><option value="GNQ">Equatorial Guinea</option><option value="GAB">Gabon</option>
						</optgroup>
						<optgroup label="Eastern Africa">
							<option value="ETH">Ethiopia</option><option value="KEN">Kenya</option><option value="RWA">Rwanda</option><option value="SSD">South Sudan</option><option value="SDN">Sudan</option><option value="TZA">Tanzania</option><option value="UGA">Uganda</option>
						</optgroup>
						<optgroup label="Southern Africa">
							<option value="AGO">Angola</option><option value="BWA">Botswana</option><option value="LSO">Lesotho</option><option value="MDG">Madagascar</option><option value="MWI">Malawi</option><option value="MUS">Mauritius</option><option value="MOZ">Mozambique</option><option value="NAM">Namibia</option><option value="SYC">Seychelles</option><option value="ZAF">South Africa</option><option value="ZMB">Zambia</option><option value="ZWE">Zimbabwe</option>
						</optgroup>
						<optgroup label="Western Africa">
							<option value="BEN">Benin</option><option value="BFA">Burkina Faso</option><option value="CPV">Cape Verde</option><option value="CIV">Côte d'Ivoire</option><option value="GMB">Gambia</option><option value="GHA">Ghana</option><option value="GNB">Guinea-Bissau</option><option value="LBR">Liberia</option><option value="MLI">Mali</option><option value="MRT">Mauritania</option><option value="NER">Niger</option><option value="NGA">Nigeria</option><option value="GIN">Republic of Guinea</option><option value="SEN">Senegal</option><option value="SLE">Sierra Leone</option><option value="TGO">Togo</option>
						</optgroup>
						{# /** <optgroup label="Caribbean">
							<option value="ATG">Antigua and Barbuda</option><option value="BHS">Bahamas</option><option value="BLZ">Belize</option><option value="DMA">Dominica</option><option value="DOM">Dominican Republic</option><option value="GRD">Grenada</option><option value="GUY">Guyana</option><option value="HTI">Haiti</option><option value="JAM">Jamaica</option><option value="LCA">St. Lucia</option><option value="VCT">St. Vincent and the Gren</option><option value="SUR">Suriname</option>
						</optgroup> */ #}
						{# /** <optgroup label="Pacific">
							<option value="FJI">Fiji</option><option value="KIR">Kiribati</option><option value="PLW">Palau</option><option value="PNG">Papua New Guinea</option><option value="SLB">Solomon Islands</option><option value="TON">Tonga</option><option value="VUT">Vanuatu</option>
						</optgroup> */ #}
					</select>
				</div>
				<div class='col-sm-5'>
					<input id="klcSearchTitle" class="form-control" type="text" placeholder="Search KLC Name">
				</div>
			</div>
		  <div id="klc-descr" class="d-print-none p-3">
			<h3>What is a KLC?</h3>
			<div>Key Landscapes for Conservation (KLC) are areas recognised to be of global wildlife importance with intact ecosystems that are capable of sustaining wildlife populations in the face of increasing isolation from other similar areas (Larger Than Elephants - Inputs for EU strategic approach to wildlife conservation in Africa - Regional Analysis, European Commission, 2016).</div>
		  </div>
		  <div id="klc-accordion" class="px-3" style="display: none;">
		  </div>
		</div>
    </div>
</div>